<!-- <p *ngIf="flag">uno works!</p>
<button id="btn">click</button>


<ng-container *ngFor="let pais of paises">
    <h2>{{pais.id}}</h2>
    <p>{{pais.nombre}}</p>
</ng-container>


<ng-container *ngFor="let item of platillos">
    <div [ngSwitch]="item.pais">
        <span *ngSwitchCase="PAISES.MEXICO">México -- {{item.platillo}}</span>
        <span *ngSwitchCase="PAISES.JAPON">Japon -- {{item.platillo}}</span>
        <span *ngSwitchCase="PAISES.RUSIA">Rusia -- {{item.platillo}}</span>
        <span *ngSwitchDefault>No Definido</span>
    </div>
</ng-container> -->

<!-- <h1 id="text" #text >UwU</h1> -->

<div style="font-size: 10px; font-family:sans-serif; width: 300px;" appText >
    ─────────▄──────────────▄ <br>
    ────────▌▒█───────────▄▀▒▌<br>
    ────────▌▒▒▀▄───────▄▀▒▒▒▐<br>
    ───────▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐<br>
    ─────▄▄▀▒▒▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐<br>
    ───▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▀██▀▒▌<br>
    ──▐▒▒▒▄▄▄▒▒▒▒▒▒▒▒▒▒▒▒▒▀▄▒▒▌<br>
    ──▌▒▒▐▄█▀▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐<br>
    ─▐▒▒▒▒▒▒▒▒▒▒▒▌██▀▒▒▒▒▒▒▒▒▀▄▌<br>
    ─▌▒▀▄██▄▒▒▒▒▒▒▒▒▒▒▒░░░░▒▒▒▒▌<br>
    ─▌▀▐▄█▄█▌▄▒▀▒▒▒▒▒▒░░░░░░▒▒▒▐<br>
    ▐▒▀▐▀▐▀▒▒▄▄▒▄▒▒▒▒▒░░░░░░▒▒▒▒▌<br>
    ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒░░░░░░▒▒▒▐<br>
    ─▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒▒▒░░░░▒▒▒▒▌<br>
    ─▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▐<br>
    ──▀▄▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▄▒▒▒▒▌<br>
    ────▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀<br>
    ───▐▀▒▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀<br>
    ──▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▀▀<br>
</div>



